{% load account %}
{% load socialaccount %}

{% load staticfiles %}
<html>
	<head>
		<title>ログイン</title>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/jquery.pagepiling.min.js' %}"></script>
		<link href="{% static 'css/jquery.pagepiling.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<link href="{% static 'css/login.css' %}" rel="stylesheet">

		<script type="text/javascript">
			$(document).ready(function() {
				$('#pagepiling').pagepiling({
					direction : 'horizontal',
					menu : '#menu',
					anchors : ['page1', 'page2', 'page3', 'page4'],
					navigation : {
						'position' : 'right',
						'tooltips' : ['section1', 'section2', 'section3', 'section4']
					},
					scrollingSpeed : 1000,
					sectionSelector : '.contents'
				});
			});
		</script>
	</head>

	<body style="background-color: #f5f5f5; ">

		<div id="pagepiling" style="width:100%;">
			<div class="contents" id="section1" style="background-image: url('/static/images/bg/mbp.jpg'); background-size:cover;">
				<div class="col-md-4"></div>
				<div class="col-md-4" style="background-color:rgba(25,25,122,0.8); color: white; text-align: center; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; ">
					<br>
					<b>気軽に質問ができて、答えが返ってくるアプリ</b><h1>.Chain()</h1>
					<div id="message">
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
					</div>
					<form class="form" role="form" method="post" action="{% url 'login' %}"  accept-charset="UTF-8" id="login-nav">
						 {% csrf_token %}
						 <div class="form-group" style="margin-bottom: 5pt;">
							<div class="col-md-9">
								<label class="sr-only" for="username">User name</label>
								<input type="text" class="form-control" id="username" name="username" placeholder="User Name" required>
							</div>
						 </div>
						 <br>
						 <br>
						 <div class="form-group">
							 <div class="col-md-9">
								 <label class="sr-only" for="password">Password</label>
								 <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
							 </div>
							 <div class="col-md-3" style="display: inline; padding: 0 10pt 0 0;"><button type="submit" class="btn btn-signin btn-block" id="signin-btn">ログイン</button></div>
						 </div>
                         <br>
						 <div class="form-group" style="margin-top: 10pt;">
							<div class="col-md-12">
								<button type="button" class="btn btn-signup btn-block" onclick="location.href='{% url 'account_signup' %}'">Sign up</button>
							</div>
						 </div>
					</form>
					<br>
					<br>
					<hr>
					<div class="col-md-12" style="margin-top: 0pt; margin-bottom: 15pt;">
						<button type="button" class="btn btn-google btn-block" onclick="location.href='{% provider_login_url "google" %}'">
							<i class="glyphicon glyphicon-log-in" style="font-weight:bold"> Googleアカウントでログイン</i>
						</button>
					</div>
					<br>
					<br>
				</div>
				<div class="col-md-4"></div>

			</div>
			<div class="contents" id="section2" style="background-image: url('/static/images/bg/live.jpg'); background-size:cover;">
				<div class="col-md-1"></div>
				<div class="col-md-4" style="background-color:rgba(25,25,122,0.8); color: white; text-align: center; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; ">
					<br>
					<h1>まずは質問してみましょう</h1>
					<br>
					<br>
					<b>あなたは質問に送信範囲と制限時間を設定できます。
					<br>
					質問は送信範囲内のだれか一人に送信されます。
					<br>
					受信者は制限時間内に返信かパスを選択します。
					<br>
					パスされた場合、「.Chain」が次の回答者を探します。
					<br>
					</b>
					<br>
					<br>
					<div class="col-md-12">
						<button type="button" class="btn btn-signup btn-block" onclick="location.href='{% url 'signup' %}'">Sign up</button>
					</div>
					<br>
					<br>
					<br>
				</div>
				<div class="col-md-7"></div>
			</div>
			<div class="contents" id="section3" style="background-image: url('/static/images/bg/kumo.jpg'); background-size:cover;">
				<div class="col-md-7"></div>
				<div class="col-md-4" style="background-color:rgba(25,25,122,0.8); color: white; text-align: center; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; ">
					<br>
					<h1>プロフィールを設定しましょう。</h1>
					<br>
					<br>
					<b>プロフィールを設定しましょう。
					<br>
					「.Chain」はあなたのプロフィール情報をもとに質問を送信します。
					プロフィールを設定して、質問を受信しましょう。
					<br>
					</b>
					<br>
					<br>
					<div class="col-md-12">
						<button type="button" class="btn btn-signup btn-block" onclick="location.href='{% url 'signup' %}'">Sign up</button>
					</div>
					<br>
					<br>
					<br>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="contents" id="section4"  style="background-image: url('/static/images/bg/building.jpg'); background-size:cover;">
				<div class="col-md-1"></div>
				<div class="col-md-4" style="background-color:rgba(25,25,122,0.8); color: white; text-align: center; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; ">
					<br>
					<h1>ネットワークを成長させましょう</h1>
					<br>
					<br>
					<b> あなたが質問に答えるとその質問者とのつながりが強くなります。
					<br>
					また質問にタグが設定されている場合、そのタグとのつながりが強くなります。
					<br>
					</b>
					<br>
					<br>
					<div class="col-md-12">
						<button type="button" class="btn btn-signup btn-block" onclick="location.href='{% url 'signup' %}'">Sign up</button>
					</div>
					<br>
					<br>
					<br>
				</div>
				<div class="col-md-7"></div>
			</div>
		</div>
	</body>
</html>