{% extends "base.html" %}
{% load bootstrap %}
{% load question_templatetags %}
{% load staticfiles %}
{% block title %}マイページ{% endblock title %}
{% block head %}
<script src="{% static 'js/btn_open.js' %}"></script>
{% endblock head %}

{% block content %}
{# 挨拶 #}
<div class="col-md-12 card_form">
	{# 設定フォーム #}
	<form enctype="multipart/form-data" action="" method="post" class="form", name="profile", id="p_id">
		<div class="col-md-3" >
			<p>こんにちは！{{user.username}}さん</p>
			<img src="/media/{{uprof.avatar}}" align="left" width="100%">
			<div id="hide_5-1" >
				<input type="button" value="プロフィール画像を追加する" class="btn btn-info" font-weight:bold;" onClick="btn_open('hide_5-2','hide_5-1')">
			</div>
			<div id="hide_5-2" style="display:none">
				<input type="button" value="隠す" class="btn btn-info" font-weight:bold;" onClick="btn_open('hide_5-1','hide_5-2')">
				{{ form.avatar| bootstrap }}
				<input type="submit" name="done" value="確定" class="btn btn-primary">
			</div>
		</div>
		<div class="col-md-6" >
			<br><br>
			<table class="table table-hover">
				<tbody>
					<tr class="info">
						<td>勤務地</td>
						<td>{{uprof.work_place}}</td>
						<td>
						<div id="hide_1-1" role="button" style="color: blue; font-weight: bold" onClick="btn_open('hide_1-2','hide_1-1')">
							設定
						</div>
						</td>
					</tr>
					<tr class="active">
						<td>勤務ステータス</td>
						<td>{{uprof.work_status}}</td>
						<td>
						<div id="hide_2-1" role="button" style="color: blue; font-weight: bold" onClick="btn_open('hide_2-2','hide_2-1')">
							設定
						</td>
					</tr>
					<tr class="info">
						<td>所属</td>
						<td>{{uprof.division}}</td>
						<td>
						<div id="hide_3-1" role="button" style="color: blue; font-weight: bold" onClick="btn_open('hide_3-2','hide_3-1')">
							設定
						</td>
					</tr>
					<tr class="active">
						<td>受信ステータス</td>
						<td>{% if uprof.accept_question %}受信{% else %}拒否{% endif %}</td>
						<td>
						<div id="hide_4-1" role="button" style="color: blue; font-weight: bold" onClick="btn_open('hide_4-2','hide_4-1')">
							設定
						</td>
					</tr>
					<tr class="info">
						<td>質問数</td>
						<td>{{uquestion|length }}回</td>
						<td></td>
					</tr>
					<tr class="active">
						<td>返答数</td>
						<td>{{ureply|length }}回</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		{% csrf_token %}
		<div class="col-md-3" >
			<br><br>
			<div id="hide_1-2" style="display:none">
				<input type="button" value="勤務地を隠す" class="btn btn-info"  onClick="btn_open('hide_1-1','hide_1-2')">
				{{ form.work_place}}
				<input type="submit" name="done" value="確定" class="btn btn-primary"><br><br>
			</div>
			<!------------------------------>
			<div id="hide_2-2" style="display:none">
				<input type="button" value="勤務ステータスを隠す" class="btn btn-info"onClick="btn_open('hide_2-1','hide_2-2')">
				{{ form.work_status }}
				<input type="submit" name="done" value="確定" class="btn btn-primary"><br><br>
			</div>
			<!--------------------------------------->
			<div id="hide_3-2" style="display:none">
				<input type="button" value="所属を隠す" class="btn btn-info" onClick="btn_open('hide_3-1','hide_3-2')"><br>
				{% for f in form.division %}
				{%if not forloop.last%}  <!-- 所属の表示からロボットを除く-->
				<label class="checkbox-inline" style="float: none"> {{ form.division| index:forloop.counter0 }} </label> <br>
				{% endif %}
				{% endfor%}
				<input type="submit" name="done" value="確定" class="btn btn-primary"><br><br>
			</div>
			<!--------------------------------------->
			<div id="hide_4-2" style="display:none">
				<input type="button" value="受信ステータスを隠す" class="btn btn-info" font-weight:bold;" onClick="btn_open('hide_4-1','hide_4-2')">
				{{ form.accept_question }}
				<input type="submit" name="done" value="確定" class="btn btn-primary">
			</div>
		</div>
		<div class="col-md-12" >
			{# ユーザータグ #}
			<h4>{{user.username}}さんの登録タグ</h4>
			{% for u_tag in user_tags%}
			{{ u_tag.tag.name }}&nbsp;&nbsp;
			{% empty %}
			なし
			{% endfor %}
		</div>
		<div class="col-md-12" >
			<div id="hide_0-1" >
				<input type="button" value="タグを追加する" class="btn btn-info" font-weight:bold;" onClick="btn_open('hide_0-2','hide_0-1')">
			</div>
			<div id="hide_0-2" style="display:none">
				<input type="button" value="タグを隠す" class="btn btn-info" font-weight:bold;" onClick="btn_open('hide_0-1','hide_0-2')"><br>
				{% for f in form.tag %}
				<label class="checkbox-inline"> {{ form.tag|index:forloop.counter0 }} </label>
				{% endfor%}
				{{ form.tag_added| bootstrap }}
				<input type="submit" name="done" value="確定" class="btn btn-primary">
			</div>
			<br>
		</div>
	</form>
	<div class="col-md-12" >
	<iframe width="100%" height="80%" src="{% url 'dotchain:network' %}" scrolling="no" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
</div>
</div>

{% endblock content %}
