{% extends "base.html" %}

{% load bootstrap %}

{% block title %}マイページ{% endblock title %}

{% block content %}

    {# 挨拶 #}
    <p>こんにちは！{{uname}}さん</p>
    <h2>ここはマイページです</h2>

    <h2>プロフィール</h2>

    {# 設定フォーム #}
    <form action="" method="post" class="form", name="profile", id="p_id">
      {% csrf_token %}
      {{ form|bootstrap }}
      <input type="submit" name="done" value="確定" class="btn btn-primary">
    </form>

    {# 一覧に戻るボタン #}
    <a class="btn btn-default" href="{% url 'question:top' %}" role="button">戻る</a>

{% endblock content %}