<html>
	<head>

		{% include "question/network.js.html" %}

		<body>
			<div>
				<input type="button" value="center" style="WIDTH:210px; font-weight:bold;"
					onClick="cy.center(cy.$('#u{{user.id}}'))"/>
				<input type="button" value="fit" style="WIDTH:210px; font-weight:bold;"
					onClick="cy.animate({fit: { eles: '#u{{user.id}}' }, zoom: 1}, { duration: 2000 })"/>
			</div>
			<div id="cy" style="position: static">
				<div style="position: absolute; z-index: 0; overflow: hidden; width: 1272px; height: 354px;">
					<canvas data-id="layer0-selectbox" width="1272" height="354" style="position: absolute; z-index: 3; width: 1272px; height: 354px;"></canvas><canvas data-id="layer1-drag" width="1272" height="354" style="position: absolute; z-index: 2; width: 1272px; height: 354px;"></canvas><canvas data-id="layer2-node" width="1272" height="354" style="position: absolute; z-index: 1; width: 1272px; height: 354px;"></canvas>
				</div>
			</div>

		</body>

</html>