{% load staticfiles %}
<link href="http://js.cytoscape.org/demos/b7c65115947d9e0e8ec8/style.css" rel="stylesheet">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/cytoscape.min.js' %}"></script>
<script type="text/javascript">

$(function(){
$('#cy').cytoscape({
layout: {
name: 'cose',
padding: 10
},

style: cytoscape.stylesheet()
.selector('node')
.css({
'width': 'mapData(weight, 40, 80, 20, 60)',
'content': 'data(name)',
'text-valign': 'center',
'text-outline-width': 2,
'text-outline-color': 'data(faveColor)',
'background-color': 'data(faveColor)',
'color': '#fff'
})
.selector(':selected')
.css({
'border-width': 3,
'border-color': '#333'
})
.selector('edge')
.css({
'opacity': 0.666,
'width': 'mapData(strength, 70, 100, 2, 6)',
'line-color': 'data(faveColor)',
'source-arrow-color': 'data(faveColor)',
'target-arrow-color': 'data(faveColor)'
})
.selector('edge.questionable')
.css({
'line-style': 'dotted',
'target-arrow-shape': 'diamond'
})
.selector('.faded')
.css({
'opacity': 0.25,
'text-opacity': 0
}),

elements: {
nodes: [
{% for node in all_user %}
{ data: { id: '{{node.1}}', name: '{{node.0}}', weight: {{node.2}}, faveColor: '#6FB1FC'} },
{% endfor %}
{% for node in all_tag %}
{ data: { id: '{{node.1}}', name: '{{node.0}}', weight: 15, faveColor: '#2FCDB4'} },
{% endfor %}
],
edges: [
{% for edge in all_reply %}
{% if edge.0 != edge.1 %}
{ data: { source: '{{edge.0}}', target: '{{edge.1}}', faveColor: '#F5A45D', strength: {{edge.2}}*50 } },
{% endif %}
{% endfor %}
{% for edge in all_userTag %}
{ data: { source: '{{edge.0}}', target: '{{edge.1}}', faveColor: '#F26964', strength: 10 } },
{% endfor %}
],
positions: [ { 'u{{user.id}}': { x:0,y:0 } }, 
]
},

ready: function(){
window.cy = this;
// giddy up
}
});
});// on dom ready
</script>
