{% extends "base.html" %}


{% load bootstrap %}

{% block title %}pass_network{% endblock title %}

{% block head %}
{% include "question/pass_network.js.html" %}
{% endblock head %}

{% block content %}
<div id="cy">
	<div style="position: absolute; z-index: 0; overflow: hidden; width: 1272px; height: 354px;">
		<canvas data-id="layer0-selectbox" width="1272" height="354" style="position: absolute; z-index: 3; width: 1272px; height: 354px;"></canvas><canvas data-id="layer1-drag" width="1272" height="354" style="position: absolute; z-index: 2; width: 1272px; height: 354px;"></canvas><canvas data-id="layer2-node" width="1272" height="354" style="position: absolute; z-index: 1; width: 1272px; height: 354px;"></canvas>
	</div>
</div>
{% endblock content %}