{% extends "base.html" %}
{% load staticfiles %}
{% load question_templatetags %}
{% load bootstrap %}

{% block title %}質問ページ{% endblock title %}

{% block head %}
<script src="{% static 'js/btn_open.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="card_form">
	<br>
	<form action="" method="post" class="form">
		{% csrf_token %}
		<div class="col-md-6">

				<div id="hide_1-1" class="hide_div">
					<input type="button" value="宛て先を表示する" class="btn btn-info btn-sm" onClick="btn_open('hide_1-2','hide_1-1')"><br>
				</div>
				<div id="hide_1-2">
					<input type="button" value="宛て先を隠す" class="btn btn-info btn-sm" onClick="btn_open('hide_1-1','hide_1-2')"><br>
					{% for f in form.destination %}
					{%if forloop.last%}</div><br><label class="checkbox-inline" > {{ form.destination|index:forloop.counter0 }}<b>（自動返信）を宛て先に含める</b> </label><br><br>
					{% else %}<label class="checkbox-inline" > {{ form.destination|index:forloop.counter0 }} </label>
					{% endif %}
					{% endfor%}

			{{ form.title | bootstrap}}
			{{ form.date | bootstrap}}
			{{ form.time_limit | bootstrap}}
				<div id="hide_2-1">
					<input type="button" value="タグを表示する" class="btn btn-info btn-sm"
					onClick="btn_open('hide_2-2','hide_2-1')">
				</div>
				<div id="hide_2-2" class="hide_div">
					<input type="button" value="タグを隠す" class="btn btn-info btn-sm"
					onClick="btn_open('hide_2-1','hide_2-2')"><br>
					{% for t in form.tag %}
					<label class="checkbox-inline" > {{ form.tag|index:forloop.counter0 }} </label>
					{% endfor%}
				</div>
				{{ form.tag_added | bootstrap}}
		</div>

		<div class="col-md-6" >{{ form.text | bootstrap}}
				{{ form.draft | bootstrap}}</div>
		<div class="clear" />
		<div style="float:right;">
			<input type="submit" name="done" value="確定" class="btn btn-info">&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
		<p>&nbsp;</p><p>&nbsp;</p>

	</form>
</div>

{% endblock content %}