{% extends "base.html" %}

{% load question_templatetags %}
{% load bootstrap_toolkit %}

{% block title %}質問詳細{% endblock title %}

{% block head %}
{% include "question/count.html" %}

{% endblock head %}

{% block content %}

{# 内容表示 #}
<div class="col-md-8">

<h3>質問</h3>	
<div class="popover right show" style="position:relative; max-width:100%;">
    <div class="arrow"></div>
	<h2 class="popover-title breack_word" style="background-color: #FFFFFF; font-size:x-large; color: black; font-weight: bold;">
        	{{ question.title }}
    </h2>
    <h3 class="popover-title" style="background-color: #FFFFFF; color: black;">
        	質問者: {{ question.questioner.username }}<br>
			作成日時: {{ question.date }} {% if question.draft %} <font color="#DD0000">下書き</font> {% else %}送信済み{% endif %}<br>
        	{% if destinations %}あて先：{% for dst in destinations %} {{ dst.tag.name }}&nbsp; {% endfor %}<br>{% endif %}
        	{% if q_tags %}タグ：{% for q_tag in q_tags %} {{ q_tag.tag.name }} {% endfor %}<br>{% endif %}
    </h3>
    <div class="popover-content breack_word" style="background-color: #FFFFFF; font-size:large; color: black;">
        <p>
            {{ question.text|urlize|linebreaksbr }}
        </p>
    </div>
</div>
		
</div>
<div class="col-md-4">

	<br><br><br>
		<h3>{{reply_list|pass_check:question|safe}}</h3>

</div>

<div class="col-md-12">
	{% if reply %}
	<h3>回答</h3>
	{% for r in reply %}	
	<div class="popover right show" style="position:relative; max-width:100%; word-break:break-all;">
		<div class="arrow"></div>
		<h3 class="popover-title" style="background-color: #FFFFFF; color: black;">
			回答者:{{ r.answerer}}　回答日時:{{ r.date }}
		</h3>
		<div class="popover-content" style="color: black; word-break:break-all;">
			{{ r.text|urlize|linebreaksbr }}
		</div>
	</div>
	<br>
	{% endfor %}

	{% else %}
	<h2>回答なし</h2>
	{% endif %}

	<p>
		&nbsp;
	</p>

	{% if question.questioner.id != user.id %}
		{% if reply_list %}
			{% if question.is_closed %}
				<a class="btn btn-default" role="button"  disabled="disabled">締め切りました</a>
			{% elif reply_list.has_replied %}
				<a class="btn btn-default" role="button"  disabled="disabled">パス済みです</a>
			{% else %}
				<a class="btn btn-success" href="{% url 'dotchain:r_new' id=question.id %}" role="button">返信</a><br><br><br>
				<a class="btn btn-danger" href="{% url 'dotchain:q_pass' id=reply_list.id %}" role="button">パス</a>
			{% endif %}
		{% else %}
			<p>[Debug] reply_listが空です！</p>
		{% endif%}
	{% else %}
		{% if not question.is_closed %}
			<a class="btn btn-success" href="{% url 'dotchain:r_new' id=question.id %}" role="button">返信</a>
		{% else %}
			<a class="btn btn-default" role="button"  disabled="disabled">締め切りました</a>
		{% endif %}
	{% endif %}

</div>
<div class="col-md-12">
	<iframe width="100%" height="100%" src="{% url 'dotchain:pass_network' id=question.id %}" scrolling="auto" style="border:none"></iframe>
</div>

{% endblock content %}