{% extends "base.html" %}

{% load bootstrap %}

{% block title %}あなたに届いた質問一覧{% endblock title %}

{% block content %}

    {% if questions %}
        {% for question in questions %}
            <div class="service">
            <p>&nbsp;</p>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4>{{ question.questioner }}さんからの質問</h4>
                        <h5>{{ question.date }}&nbsp;回答期限：{{ question.time_limit }}&nbsp;</h5>
                    </div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item"><h4>タイトル：&nbsp;<a href="{% url 'question:r_new' id=question.id %}">{{ question.title }}</a></h4></li>
                        <li class="list-group-item"><h4>本文：<p>&nbsp;</p>{{ question.text|linebreaksbr }}</h4></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>現在届いている質問はありません</h2>
    {% endif %}

    {# 一覧に戻るボタン #}
    <a class="btn btn-default" href="{% url 'question:top' %}" role="button">戻る</a>

{% endblock content %}