{% extends "question/top_default.html" %}

{% load staticfiles %}

{% load bootstrap_toolkit %}

{% block title %}トップページ{% endblock title %}

{% block tab %}

           <div class="activities">
                <div id="masonry" style="position: relative; width: 660px; height: 729px;">
                    {% for q in questions %}
                        {# 自分がした質問 #}
                        {% if q.questioner.last_name|add:q.questioner.first_name == uname %}
                            <div id={{q.id}} class="item" style="position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 7px solid #FDC44F; border-left: none; border-right: 3px solid #BFBFBF;">
                        {# 自分に来た質問 #}
                        {% else %}
                            <div id={{q.id}} class="item" style="position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 7px solid #8DCF3F; border-left: none; border-right: 3px solid #BFBFBF;">
                        {% endif %}
                        <div>
                            <img src="/static/images/dotchain.png" align="left" width="50" height="50">
                            &nbsp;質問者：{{q.questioner}}<br>
                            &nbsp;質問日時：{{q.date}}
                            <div class="badge" onmouseover="flip(event)" onmouseout="flip(event)">
                                {#TODO パス済みと回答済みを判別するにはどうしたらよいか？#}
                                <div class="front face">パス済み</div>
                                <div class="back face">or 回答済み</div>
                            </div>
                        </div>
                        <hr>
                        タイトル: {{q.title}}<p>&nbsp;</p>
                        本文: {{q.text|linebreaksbr }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tail">
                <div class="more-button btn btn-default btn-block" tabindex="0">もっと見る
            </div>

{% endblock tab %}