{% extends "question/top_default.html" %}

{% load staticfiles %}

{% load bootstrap_toolkit %}

{% load question_extras %}
{% load question_templatetags %}

{% block title %}トップページ{% endblock title %}

{% block tab %}

           <div class="activities">
                <div id="masonry" style="position: relative; width: 660px; height: 729px;">
                    {% for qa in qa_list %}
                        {# 自分がした質問 #}
                        {% with qa.0|classname as modelclass %}
                        {% if modelclass == "Question" %}
                            <!--div id={{qa.0.id}} class="item" style="position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 7px solid #FDC44F; border-left: none; border-right: 3px solid #BFBFBF;"-->
                            <div id={{qa.0.id}} class="item" style="position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 10px solid #FDC44F; border-left: none; border-right: 3px solid #BFBFBF;">
                                {% if qa.2.avatar %}
                                    <img src="/static/{{qa.2.avatar}}" align="left" width="50" height="50">
                                {% else %}
                                    <img src="/static/images/icons/no_image.png" align="left" width="50" height="50">
                                {% endif%}
                                &nbsp;質問者：{{qa.0.questioner}}<br>
                                &nbsp;質問日時：{{qa.0.date}}
                                <!--&nbsp;残り時間：-->
                                <hr>
                                <span style="font-size: medium;font-weight: bold;">
                                    {{qa.0.title| truncatechars:"22"}}
                                </span>
                                <span style="font-size: 9pt;">
                                    <p>&nbsp;</p>
                                    {% if qa.0.text|count_line:26 > 3 %}
                                        {{qa.0.text | truncatechars:"60" | linebreaksbr }}
                                        <a href="{% url 'dotchain:q_detail' qa.0.id %}">...続きを読む</a>
                                    {% else %}
                                        {{qa.0.text | truncatechars:"80" | linebreaksbr }}
                                    {% endif %}
                                </span>
                                <hr>
                                <span style="font-size: 9pt;">コメント数：({{qa.0|comment_counter}})</span>&nbsp;&nbsp;
                                <span style="font-size: 9pt;">パス数：({{qa.0|pass_counter}})</span>&nbsp;&nbsp;
                                {# 回答待ちのもののみリボンで表示する #}
                                {% if qa.1 == 'pending' %}
                                    <div class="badge">
                                        <div class="front face" style="font-size:x-large;">質問中</div>
                                    </div>
                                {% elif qa.1 == 'unsolved' %}
                                    <span style="font-size: 9pt;font-weight: bold;color: red;">未解決</span>
                                {% elif qa.1 == 'solved' %}
                                    <span style="font-size: 9pt;font-weight: bold;color: red;"></span>
                                {% endif %}
                            </div>
                        {% else%}
                            {% if qa.1 == 'passed' %}
                            <div id={{qa.0.question.id}} class="item" style="background-color:rgba(0, 0, 0, 0.05); position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 10px solid #8DCF3F; border-left: none; border-right: 3px solid #BFBFBF;">
                                {% if qa.2.avatar %}
                                    <img src="/static/{{qa.2.avatar}}" align="left" width="50" height="50">
                                {% else %}
                                    <img src="/static/images/icons/no_image.png" align="left" width="50" height="50">
                                {% endif%}
                                &nbsp;質問者：{{qa.0.question.questioner}}<br>
                                &nbsp;質問日時：{{qa.0.question.date}}
                                <!--&nbsp;残り時間：-->
                                <hr>
                                <span style="font-size: medium;font-weight: bold;">
                                    {{qa.0.question.title| truncatechars:"22"}}
                                </span>
                                {# パス済みのもののみリボンで表示する #}
                                <div class="badge_black">
                                    <div class="front face" style="font-size:x-large;">　　 パス済</div>
                                </div>
                            {% else %}
                            <div id={{qa.0.question.id}} class="item" style="position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 10px solid #8DCF3F; border-left: none; border-right: 3px solid #BFBFBF;">
                                {% if qa.2.avatar %}
                                    <img src="/static/{{qa.2.avatar}}" align="left" width="50" height="50">
                                {% else %}
                                    <img src="/static/images/icons/no_image.png" align="left" width="50" height="50">
                                {% endif%}
                                &nbsp;質問者：{{qa.0.question.questioner}}<br>
                                &nbsp;質問日時：{{qa.0.question.date}}
                                <!--&nbsp;残り時間：-->
                                <hr>
                                <span style="font-size: medium;font-weight: bold;">
                                    {{qa.0.question.title| truncatechars:"22"}}
                                </span>
                                <span style="font-size: 9pt;">
                                    <p>&nbsp;</p>
                                    {% if qa.0.question.text|count_line:26 > 3 %}
                                        {{qa.0.question.text | truncatechars:"60" | linebreaksbr }}
                                        <a href="{% url 'dotchain:q_detail' id=qa.0.question.id %}">...続きを読む</a>
                                    {% else %}
                                        {{qa.0.question.text | truncatechars:"80"| linebreaksbr }}
                                    {% endif %}
                                </span>
                                <hr>
                                <span style="font-size: 9pt;">コメント数：({{qa.0|comment_counter}})</span>&nbsp;&nbsp;
                                <span style="font-size: 9pt;">パス数：({{qa.0|pass_counter}})</span>&nbsp;&nbsp;
                                {# 回答待ちの場合返信・パスボタンを表示する #}
                                {% if qa.1 == 'pending' %}
                                    <span style="font-size: 9pt;">回答期限:({{qa.0.time_limit_date}})</span>
                                    <div style="float:right">
                                            <a class="btn btn-success" href="{% url 'dotchain:r_new' id=qa.0.question.id %}" role="button">返信</a>
                                            <a class="btn btn-danger" href="{% url 'dotchain:q_pass' id=qa.0.id %}" role="button">パス</a>
                                    </div>
                                    <span style="font-size: 9pt;font-weight: bold;color: red;"></span>
                                {% elif qa.1 == 'replied' %}
                                    <span style="font-size: 9pt;font-weight: bold;color: red;">コメント済み</span>
                                {% endif %}
                            {% endif %}
                            </div>
                        {% endif %}
                        {% endwith %}
                    {% empty %}
                        <h4>すべての質問はありません。</h4>
                    {% endfor %}
                </div>
            </div>

{% endblock tab %}