{% extends "question/top_default.html" %}

{% load staticfiles %}

{% load bootstrap_toolkit %}

{% block title %}トップページ{% endblock title %}

{% block tab %}

          <div class="activities">
                <div id="masonry" style="position: relative; width: 660px; height: 729px;">
                    {% for q in qa_list %}
                            {# 自分がした質問 #}
                            <div id={{q.0.id}} class="item" style="position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 7px solid #FDC44F; border-left: none; border-right: 3px solid #BFBFBF;">
                                <div>
                                    <img src="/static/images/dotchain.png" align="left" width="50" height="50">
                                    &nbsp;質問者：{{q.0.questioner}}<br>
                                    &nbsp;質問日時：{{q.0.date}}
                                </div>
                                <hr>
                                タイトル: {{q.0.title}}<p>&nbsp;</p>
                                本文: {{q.0.text|linebreaksbr }}
                                <div class="badge" onmouseover="flip(event)" onmouseout="flip(event)">
                                {# 解決済み、未解決、回答待ちを区別して表示する #}
                                    {% if q.1 == 1 %}
                                        <div class="front face">解決済み</div>
                                        <div class="back face">よかったね</div>
                                    {% elif q.1 == 0 %}
                                        <div class="front face">未解決</div>
                                        <div class="back face">ざんねん！</div>
                                    {% elif q.1 == 2 %}
                                        <div class="front face">回答待ち</div>
                                        <div class="back face">期限:</div>
                                    {% endif %}
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tail">
                <div class="more-button btn btn-default btn-block" tabindex="0">もっと見る
          </div>

{% endblock tab %}