{% extends "question/top_default.html" %}

{% load staticfiles %}

{% load bootstrap_toolkit %}
{% load question_templatetags %}


{% block title %}トップページ{% endblock title %}

{% block tab %}

    <div class="activities">
        {% for qa in qa_list %}
            <div class="my-card" id={{qa.0.question.id}}>
                <div class="well" style="margin-bottom: 0px; padding: 10px; background-color: #A6341F;color: white;">
                    {% if qa.2.avatar %}
                        <img src="/media/{{qa.2.avatar}}" align="left" width="70" height="70">
                    {% else %}
                        <img src="/media/images/icons/no_image.png" align="left" width="70" height="70">
                    {% endif %}
                    <span style="font-size: medium;font-weight: bold;">
                        &nbsp;{{qa.0.question.title| truncatechars:"12"}}
                    </span><br>
                    <span style="font-size: x-small">
                        &nbsp;質問者：  {{qa.0.question.questioner}}<br>
                        &nbsp;質問日時：  {{qa.0.question.date}}<br>
                        &nbsp;回答期限：  {{qa.0.time_limit_date}}
                    </span>
                </div>
                <div class="well" style="background-color: #FFFFFF; margin-bottom: 0px; height: 200px;">
                    <span style="font-size: small;">
                        {% if qa.0.question.text|count_line:26 > 3 %}
                            {{qa.0.question.text | truncatechars:"60" | linebreaksbr }}
                            <a href="{% url 'dotchain:q_detail' qa.0.question.id %}">...続きを読む</a>
                        {% else %}
                            {{qa.0.question.text | truncatechars:"80" | linebreaksbr }}
                        {% endif %}
                    </span>
                </div>
                <div style="background-color: #FFFFFF; width:260px; height: 60px; padding:0 10 0 10; position: relative; bottom: 90px; left: 5px;">
                    <hr class="hr-lower">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true">  {{qa.0|comment_counter}}</span>&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true">  {{qa.0|pass_counter}}</span>&nbsp;&nbsp;
                    {# 回答待ちの場合返信・パスボタンを表示する #}
                    {% if qa.1 == 'pending' %}
                        <div style="float:right; z-index:100;">
                            <a class="btn btn-success" href="{% url 'dotchain:r_new' id=qa.0.question.id %}" role="button">返信</a>
                            <a class="btn btn-danger" href="{% url 'dotchain:q_pass' id=qa.0.id %}" role="button">パス</a>
                        </div>
                    {% elif qa.1 == 'replied' %}
                        <div style="float:right;">
                            <a class="btn btn-default" role="button"  disabled="disabled">返信済み</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <h4>自分宛の質問はありません。</h4>
        {% endfor %}
    </div>

{% endblock tab %}
