{% extends "question/top_default.html" %}

{% load staticfiles %}

{% load bootstrap_toolkit %}

{% load question_extras %}

{% block title %}デバッグ用トップページ{% endblock title %}

{% block tab %}

        <h1>総質問数：　{{qa_list|length}}</h1>


           <div class="activities">
                <div id="masonry" style="position: relative; width: 660px; height: 729px;">
                    {% for qa in qa_list %}
                        {# 自分がした質問 #}
                        {% with qa.0|classname as modelclass %}
                        {% if modelclass == "Question" %}
                            <div id={{qa.0.id}} class="item" style="position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 10px solid #FDC44F; border-left: none; border-right: 3px solid #BFBFBF;">

                                <img src="/static/images/dotchain.png" align="left" width="50" height="50">
                                &nbsp;質問者：{{qa.0.questioner}}<br>
                                &nbsp;質問日時：{{qa.0.date}}
                                <!--&nbsp;残り時間：-->
                                <hr>
                                <span style="font-size: medium;font-weight: bold;">
                                    {{qa.0.title}}
                                </span>
                                <span style="font-size: 9pt;">
                                    <p>&nbsp;</p>
                                    {{qa.0.text | truncatechars:"80" | linebreaksbr }}
                                    {% if qa.0.text|length > 80 %}
                                        <a href="{% url 'question:q_detail' qa.0.id %}">...続きを読む</a>
                                    {% endif %}
                                </span>
                                <hr>
                                <span>コメント数：</span>
                                {# 回答待ちのもののみリボンで表示する #}
                                {% if qa.1 == 'pending' %}
                                    <div class="badge" onmouseover="flip(event)" onmouseout="flip(event)">
                                        <div class="front face" style="font-size:x-large;">質問中</div>
                                    </div>
                                {% endif %}
                            </div>
                        {% else%}
                            {% if qa.1 == 'passed' %}
                            <div id={{qa.0.question.id}} class="item" style="background-color:rgba(0, 0, 0, 0.05); position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 10px solid #8DCF3F; border-left: none; border-right: 3px solid #BFBFBF;">
                            <img src="/static/images/xxx.png" align="left" width="50" height="50">
                                &nbsp;質問者：{{qa.0.question.questioner}}<br>
                                &nbsp;質問日時：{{qa.0.question.date}}
                                <!--&nbsp;残り時間：-->
                                <hr>
                                <span style="font-size: medium;font-weight: bold;">
                                    {{qa.0.question.title}}
                                </span>
                                <span style="font-size: 9pt;">
                                <p>&nbsp;</p>
                                {{qa.0.question.text | truncatechars:"80"| linebreaksbr }}
                                {% if qa.0.question.text|length > 80 %}
                                    <a href="{% url 'question:q_detail' qa.0.id %}">...続きを読む</a>
                                {% endif %}
                                </span>
                                <hr>
                                <span>コメント数：</span>
                                {# パス済みのもののみリボンで表示する #}
                                <div class="badge_black" onmouseover="flip(event)" onmouseout="flip(event)">
                                    <div class="front face" style="font-size:x-large;">　　 パス済</div>
                                </div>
                            </div>
                            {% else %}
                            <div id={{qa.0.question.id}} class="item" style="position: absolute; border-top: 3px solid #BFBFBF; border-bottom: 10px solid #8DCF3F; border-left: none; border-right: 3px solid #BFBFBF;">
                            <img src="/static/images/xxx.png" align="left" width="50" height="50">
                                &nbsp;質問者：{{qa.0.question.questioner}}<br>
                                &nbsp;質問日時：{{qa.0.question.date}}
                                <!--&nbsp;残り時間：-->
                                <hr>
                                <span style="font-size: medium;font-weight: bold;">
                                    {{qa.0.question.title}}
                                </span>
                                <span style="font-size: 9pt;">
                                    <p>&nbsp;</p>
                                    {{qa.0.question.text | truncatechars:"80"| linebreaksbr }}
                                    {% if qa.0.question.text|length > 80 %}
                                        <a href="{% url 'question:q_detail' qa.0.id %}">...続きを読む</a>
                                    {% endif %}
                                </span>
                                <hr>
                                <span>コメント数：</span>
                                {# 回答待ちの場合返信・パスボタンを表示する #}
                                {% if qa.1 == 'pending' %}
                                <span>制限時間：(TODO)</span>
                                <div style="float:right">
                                        <a class="btn btn-success" href="{% url 'question:r_new' id=qa.0.question.id %}" role="button">返信</a>
                                        <a class="btn btn-danger" href="{% url 'question:q_pass' id=qa.0.id %}" role="button">パス</a>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>

{% endblock tab %}